body {
    background-color: black;
    color: lightseagreen
}

header {
    background-color: lightcoral;
    color: rgb(71, 5, 104);
    display: flex;
    flex-direction: column;
}

.centered {
    text-align: center;
}



content {
    background-color: lightsalmon;
}

footer {
    background-color: rgb(59, 5, 110) color black;

}




h1 {
    color: rgb(53, 6, 101);
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    font-size: 50%;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* float: left; */
    /* width: 20%; */
    padding: 4px;
    margin-right: 50px;
    /* max-width: 1000px; */
}




/* Clear floats after image containers */
/* .row::after {
    content: "";
    clear: both;
    display: table;
} */

h2 {

    color: lavender;
    font-family: 'Franklin Gothic Medium',
        'Arial Narrow',
        Arial,
        sans-serif;
    font-size: 400%;
}